* {
  box-sizing: border-box;
  font-size: 16pt;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.diagnostics {
  display: flex;
  flex-direction: row;
}

.btn-container {
  margin-top: 10px;
}

.storage-set {
  margin-right: 4pt;
  color: cadetblue;
}

.storage-remove {
  margin-right: 4pt;
  color: red;
}

#cookieDiag, #localStorageDiag {
  max-height: 40vh;
  overflow-y: auto;
}
